.location-picker-wrap {
    display: inline-block;
}
.location-picker-map {
    width: 300px;
    height: 200px;
    border: 1px solid black;
    padding: 2px;
}
.location-picker-wrap input {
    width: 298px;
    margin: 0 0 10px;
}
